
<footer>

    <div class="footer-container">

            <div class="brand-container">
                <a href="https://www.fullers.co.uk/" aria-label="Link to Fuller's main website">
                    <img src="https://res.cloudinary.com/rdl/image/upload/c_scale,f_auto,w_1000/v1692252038/fullers/logo-full.png" alt="Fuller's logo">
                </a>
                <h3>{{ data.name }}</h3>
                <address>{{ data.addressStreet }}, {{ data.addressLocality }}, {{ data.addressRegion }}, {{ data.postalCode }}</address>
                <span>LICENSEE: <a href="mailto:" class="inline-link">{{ data.contact }}</a></span>
                <span>TEL: <a href="tel:{{data.phone}}"  class="inline-link">{{ data.phone }}</a></span>
                <span>EMAIL: <a href="mailto:{{data.email}}"  class="inline-link">{{ data.email }}</a></span>
                <div class="social-links">
                    <!-- {{ data.social.networks }} -->
                    {{#each data.social.networks }}

                            <a class="social-link" href="{{ this.url }}"
                               target="_blank"
                               aria-label="{{ this.alt }}">
                                <img src="/assets/images/icon-{{ this.name }}.svg"
                                     alt="{{ this.name }} logo"
                                     width="28"
                                     height="28">
                            </a>


                    {{/each}}
                </div>
            </div>

    </div>
    <div class="footer-links-container">
        <span style="flex: 1;" aria-label="Copyright information">&copy; {{ year }}</span>
        <a href="https://www.fullers.co.uk/corporate/privacy-and-cookies" class="inline-link" aria-label="Link to privacy and cookie policies">Privacy & Cookies</a>
        <a href="https://www.fullers.co.uk/pubs/pub-finder" class="inline-link" aria-label="Link to Fuller's Pub Finder website">More Pubs</a>
        <a href="https://www.fullers.co.uk/corporate/terms-of-use" class="inline-link" aria-label="Link to the terms of use">Terms of Use</a>
    </div>

</footer>
