<!-- mobile nav -->
<div class="nav-menu" id="navMenu">
    <button id="navBtn" class="hamburger hamburger--spin" type="button" aria-label="{{ nav.label.navMenuMobile }}">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
    </button>
</div>

<!-- global nav -->
<nav id="navBar" aria-label="primary">
    <a href="#" class="brand" aria-label="{{ nav.label.backToTop }}">
        <img src="https://res.cloudinary.com/rdl/image/upload/c_scale,f_auto,w_1000/v1692252038/fullers/logo-full.png" alt="Fuller's logo" class="logo-mobile">
        <img src="https://res.cloudinary.com/rdl/image/upload/f_auto/v1692252102/fullers/logo-nav.png" alt="Fuller's logo" class="logo">
        <h1>{{ data.name }}</h1>
    </a>
    <ul class="nav-list-mobile" role="list">
        <li><a href="#about" aria-label="{{ nav.label.about }} {{ data.name }}">{{ nav.label.about }}</a></li>
        <li class="hide-on-desktop"><a href="#hours" aria-label="{{ nav.label.hours }} {{ data.name }}">{{ nav.label.hours }}</a></li>
        <!-- Optional section tag start - Menus NavBar -->
        <li><a href="#menus" aria-label="{{ data.name }} {{ nav.label.menus }}">{{ nav.label.menus }}</a></li>
        <!-- Optional section tag end - Menus NavBar -->
        <li><a href="#reservations" aria-label="{{ data.name }} {{ nav.label.reservations }}">{{ nav.label.reservations
        }}</a></li>
        <li><a href="#contacts" aria-label="{{ data.name }} {{ nav.label.contacts }}">{{ nav.label.contacts }}</a></li>
        <li><a href="#location" aria-label="{{ data.name }} {{ nav.label.location }}">{{ nav.label.location }}</a></li>
    </ul>
</nav>

