---
title: "RDL Automated SPW"
language: "en"
gtag: "G-RX7PGJKJGS"
layout: "layouts/network.hbs"
permalink: "/templates/rdl-auto.html"
brand:
    name: "RDL Network"
    prefix: "rdl"
    url: "https://rdl.network/"
    theme: "rdl"
---

<!-- hero -->
<section id="hero" class="section-hero hero-stack golden-ratio">
    <div class="brand-container fade-in">
        <h2>{{ data.name }}</h2>
        <h3 class="subtitle">{{ data.subtitle }}</h3>
        <a href="#about" class="scroll-down"></a>
    </div>
    <span class="img-credit">LIBRARY IMAGE</span>
    {{> partials/hero-image }}
</section>

<main id="home">

    <!-- about -->
    <section id="about" class="content-section" aria-label="introduction">
        <div class="content-block">
            <div class="description desc-full" aria-label="description">
                <p>{{ data.description.full }}</p>
                <!-- Feature keywords-->
                <ul class="additional-features" aria-label="features">
                    {{#each data.features }}
                        <li>{{ this }}</li>
                    {{/each}}
                </ul>
            </div>
            <!-- times -->
            <aside class="opening-times">
                <dl>
                    <dt>Telephone</dt>
                    <dd><a href="tel:{{ data.phone }}">{{ data.phone }}</a></dd>
                    <dt>Address</dt>
                    <dd>{{ data.addressStreet }}</dd>
                    <dd>{{ data.addressLocality }}</dd>
                    <dd>{{ data.addressRegion }} {{ data.postalCode }}</dd>
                    <dt>Opening Times</dt>
                    <dd class="times">{{ data.openingTimes }}</dd>
                    <!-- Optional section tag start - Opening Notes -->
                    <dt>PLEASE NOTE:</dt>
                    <dd>{{ data.openingNotes }}</dd>
                    <!-- Optional section tag end - Opening Notes -->
                </dl>
            </aside>
        </div>
    </section>

    {{> partials/map }}

</main>

{{> partials/footer-auto }}


