---
title: "RC Member SPW"
language: "en"
layout: "layouts/member.hbs"
gtag: "G-RX7PGJKJGS"
permalink: "/templates/rc-member.html"
brand:
    name: "Restaurant Collective"
    prefix: "rc"
    url: "https://restaurantcollective.org.uk/"
    theme: "collective"
---


<!-- mobile nav -->
<div class="nav-menu" id="navMenu">
    <button id="navBtn" class="hamburger hamburger--spin" type="button" title="{{ data.name }} navigation menu">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
    </button>
</div>

<!-- global nav -->
<nav id="navBar" aria-label="primary">
    <a href="#" class="brand" title="Back to top">
        <h1>{{ data.name }}</h1>
    </a>
    <ul class="nav-list-mobile" role="list">
        <li><a href="#about" title="About ">About</a></li>
        <!-- Optional section tag start - Menus NavBar -->
        <li><a href="#menus" title="Menus ">Menus</a></li>
        <!-- Optional section tag end - Menus NavBar -->
        <li><a href="#reservations" title="Reservations">Reservation</a></li>
        <li><a href="#contacts" title="Contact ">Contacts</a></li>
        <li><a href="#location" title="Find ">Location</a></li>
    </ul>
</nav>

<!-- hero -->
<section id="hero" class="section-hero">
    <div class="brand-container fade-in">
        <h2>{{ data.name }}</h2>
        <h3 class="subtitle">{{ data.subtitle }}</h3>
        <ul class="hero-nav fade-in">
            <li><a href="#about" title="About ">About</a></li>
            <!-- Optional section tag start - Menus Hero -->
            <li><a href="#menus" title="Menus ">Menus</a></li>
            <!-- Optional section tag end - Menus Hero -->
            <li><a href="#reservations" title="Reservations">Reservations</a></li>
            <li><a href="#contacts" title="Contact">Contacts</a></li>
            <li><a href="#location" title="Find">Location</a></li>
        </ul>
        <span class="desc-one-sentence fade-in" >{{ data.description.sentence }}</span>
    </div>
    {{> partials/hero-image }}
</section>

<main id="home">

    <!-- about -->
    <section id="about" class="content-section" aria-label="introduction">
        <div class="content-block">
            <div class="description desc-full" aria-label="description">
                <p>{{ data.description.full }}</p>
                <!-- Feature keywords-->
                <!-- TODO -->
                <ul class="additional-features" aria-label="features">
                    {{#each data.features }}
                    <li>{{ this }}</li>
                    {{/each}}
                </ul>
            </div>
            <!-- times -->
            <aside class="opening-times">
                <button class="btn-book"
                        data-mzid="{{ data.mozrest.id }}"
                        data-mzkey="{{ data.mozrest.key }}">
                    BOOK ONLINE
                </button>
                <dl>
                    <dt>Telephone</dt>
                    <dd><a href="tel:{{ data.phone }}">{{ data.phone }}</a></dd>
                    <dt>Address</dt>
                    <dd>{{ data.addressStreet }}</dd>
                    <dd>{{ data.addressLocality }}</dd>
                    <dd>{{ data.addressRegion }} {{ data.postalCode }}</dd>
                    <dt>Opening Times</dt>
                    <dd class="times">{{ data.openingTimes }}</dd>

                    <!-- Optional section tag start - Opening Notes -->
                    <dt>PLEASE NOTE:</dt>
                    <dd>{{ data.openingNotes }}</dd>
                    <!-- Optional section tag end - Opening Notes -->
                </dl>
            </aside>
        </div>

        {{> partials/gallery }}

    </section>

    {{> partials/menus }}

    {{> partials/menu-downloads }}

    <!-- bookings -->
    <section id="reservations" class="content-section booking-section" aria-label="booking widget">
        <h2 class="section-title">Reservations</h2>
        <p>You can <a href="#reservations" data-mzid="{{ data.mzId }}" data-mzkey="{{ data.mzKey }}">BOOK ONLINE</a> at
            anytime, or call us during restaurant opening hours on <a
                    href="tel:+33492005090">+33 (0) 4 92 00 50 90</a>.</p>
        <!-- booking extras -->
        <div class="content-block">
            <aside>
                <h2 class="sub-section-title">Group bookings</h2>
                <p>{{ data.reservations.groups }}</p>
            </aside>
            <aside>
                <h2 class="sub-section-title">Private Dining</h2>
                <p>{{ data.reservations.private }}</p>
            </aside>
        </div>
    </section>

    <!-- contacts -->
    <section id="contacts" class="content-section">
        <h2 class="section-title">Contacts</h2>
        <div class="content-block">
            <!-- address -->
            <aside>
                <dl>
                    <dt>Address</dt>
                    <dd>{{ data.addressStreet }}</dd>
                    <dd>{{ data.addressLocality }} {{ data.postalCode }}</dd>
                    <dt>Telephone</dt>
                    <dd><a href="tel:{{ data.phone }}">{{ data.phone }}</a></dd>
                </dl>
            </aside>
            <!-- social -->
            <aside>
                <dl>
                    <dt>Links</dt>
                    <dd>
                        <div class="social-links">
                            {{#each data.social.networks }}
                                <div>
                                    <a class="social-link" href="{{ this.url }}" title="{{ this.alt }}">
                                        <img src="/assets/imgs/icon-{{ this.name }}.svg" alt="{{ this.name }} logo">
                                    </a>
                                    <span>{{ this.name }}</span>
                                </div>
                            {{/each}}
                        </div>
                    </dd>
                </dl>
            </aside>
            <!-- transport -->
            <aside>
                <dl>
                    <dt>Public Transport</dt>
                    <dd>{{ data.transport }}</dd>
                    <dt>Parking</dt>
                    <dd>{{ data.parking }}</dd>
                </dl>
            </aside>
        </div>
    </section>

    {{> partials/map }}

</main>

<footer>
    <section class="footer-section">
        <div class="col-span-2">
            <a href="https://restaurantcollective.uk" class="ftr-logo-sml" title="Visit the Restaurant Collective website">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 178">
                    <g fill="#FFFFFF" fill-rule="evenodd">
                        <path fill-rule="nonzero" d="M104.481623,36.0610835 L102.609533,37.832952 C101.515727,36.4731459 100.085366,35.7108304 97.8556848,35.7108304 C93.6066702,35.7108304 91.8187186,38.5334582 91.8187186,42.0771953 C91.8187186,45.5385199 93.5225313,48.2375289 97.8346501,48.2375289 C100.064331,48.2375289 101.515727,47.4958165 102.630567,46.1154073 L104.460589,47.8666727 C102.840915,49.6179381 100.674338,50.5244755 97.8346501,50.5244755 C92.1552742,50.5244755 89.2314473,47.1043572 89.2314473,42.0771953 C89.2314473,37.0294303 92.2814825,33.4238838 97.8556848,33.4238838 C100.716407,33.4238838 102.861949,34.3304212 104.481623,36.0610835 Z M122.750282,42.0771953 C122.750282,38.6158707 121.151643,35.7108304 117.091941,35.7108304 C113.053274,35.7108304 111.4336,38.5128551 111.4336,42.0771953 C111.4336,45.559123 113.074309,48.2375289 117.091941,48.2375289 C121.151643,48.2375289 122.750282,45.559123 122.750282,42.0771953 Z M125.337554,42.0771953 C125.337554,47.1043572 122.413727,50.5244755 117.091941,50.5244755 C111.686017,50.5244755 108.846329,47.1043572 108.846329,42.0771953 C108.846329,37.0500334 111.686017,33.4238838 117.091941,33.4238838 C122.5189,33.4238838 125.337554,37.0294303 125.337554,42.0771953 Z M143.017241,48.0314977 L143.017241,50.3184443 L130.964343,50.3184443 L130.964343,33.629915 L133.48851,33.629915 L133.48851,47.7842602 L133.236093,48.0314977 L143.017241,48.0314977 Z M159.855538,48.0314977 L159.855538,50.3184443 L147.802641,50.3184443 L147.802641,33.629915 L150.326808,33.629915 L150.326808,47.7842602 L150.074391,48.0314977 L159.855538,48.0314977 Z M177.682468,48.0314977 L177.682468,50.3184443 L164.640938,50.3184443 L164.640938,33.629915 L177.682468,33.629915 L177.682468,35.9168616 L166.912689,35.9168616 L167.165106,36.1640991 L167.165106,40.5731673 L166.912689,40.8410079 L176.672801,40.8410079 L176.672801,43.1073514 L166.912689,43.1073514 L167.165106,43.3545889 L167.165106,47.7842602 L166.912689,48.0314977 L177.682468,48.0314977 Z M198.138739,36.0610835 L196.266648,37.832952 C195.172843,36.4731459 193.742481,35.7108304 191.5128,35.7108304 C187.263786,35.7108304 185.475834,38.5334582 185.475834,42.0771953 C185.475834,45.5385199 187.179647,48.2375289 191.491766,48.2375289 C193.721447,48.2375289 195.172843,47.4958165 196.287683,46.1154073 L198.117704,47.8666727 C196.49803,49.6179381 194.331454,50.5244755 191.491766,50.5244755 C185.81239,50.5244755 182.888563,47.1043572 182.888563,42.0771953 C182.888563,37.0294303 185.938598,33.4238838 191.5128,33.4238838 C194.373523,33.4238838 196.519065,34.3304212 198.138739,36.0610835 Z M216.28119,33.629915 L216.28119,35.9168616 L210.160085,35.9168616 L210.286293,36.1640991 L210.286293,50.3184443 L207.762126,50.3184443 L207.762126,36.1640991 L207.909369,35.9168616 L201.767229,35.9168616 L201.767229,33.629915 L216.28119,33.629915 Z M223.801104,33.629915 L223.801104,50.3184443 L221.276937,50.3184443 L221.276937,33.629915 L223.801104,33.629915 Z M243.142534,33.629915 L245.919118,33.629915 L238.535929,50.3184443 L236.074866,50.3184443 L228.691678,33.629915 L231.510331,33.629915 L236.790047,45.8475667 L237.294881,47.4958165 L237.33695,47.4958165 L237.862818,45.8475667 L243.142534,33.629915 Z M263.746048,48.0314977 L263.746048,50.3184443 L250.704518,50.3184443 L250.704518,33.629915 L263.746048,33.629915 L263.746048,35.9168616 L252.976268,35.9168616 L253.228685,36.1640991 L253.228685,40.5731673 L252.976268,40.8410079 L262.736381,40.8410079 L262.736381,43.1073514 L252.976268,43.1073514 L253.228685,43.3545889 L253.228685,47.7842602 L252.976268,48.0314977 L263.746048,48.0314977 Z M18.1796997,9.41712877 C18.1796997,7.18436394 16.6017754,6.01944315 13.6760407,6.01944315 L5.85216599,6.01944315 L6.37814076,6.50482681 L6.37814076,12.232354 L5.85216599,12.7500966 L13.3473065,12.7500966 C16.7661425,12.7500966 18.1796997,11.132151 18.1796997,9.41712877 Z M22.0258902,18.4452649 L26.7596631,27.3116064 L20.4808393,27.3116064 L16.8318893,20.3867995 C15.7470663,18.3481881 14.2348889,17.4421386 11.1447871,17.4421386 L5.85216599,17.4421386 L6.37814076,17.9275223 L6.37814076,27.3116064 L0.789658826,27.3116064 L0.789658826,1.10088873 L13.6760407,1.10088873 C18.9686618,1.10088873 23.8668019,3.68960158 23.8668019,9.28769313 C23.8668019,12.0705595 21.6971559,14.5945545 19.3302695,15.6623985 L19.3302695,15.7271164 C20.2178519,16.1154233 21.3026749,17.0861906 22.0258902,18.4452649 Z M50.9946805,22.393052 L50.9946805,27.3116064 L28.969487,27.3116064 L28.969487,1.10088873 L50.9946805,1.10088873 L50.9946805,6.01944315 L34.0319942,6.01944315 L34.557969,6.53718572 L34.557969,11.2292278 L34.0319942,11.7469703 L49.4167562,11.7469703 L49.4167562,16.6655248 L34.0319942,16.6655248 L34.557969,17.1832673 L34.557969,21.8753094 L34.0319942,22.393052 L50.9946805,22.393052 Z M78.5170403,19.836698 C78.5170403,23.8815618 74.9009637,27.6351955 66.6826079,27.6351955 C61.948835,27.6351955 57.3794292,26.1790445 54.02634,23.0078713 L57.905404,19.1895198 C60.6338981,21.6164381 63.7897467,22.749 66.8798485,22.749 C71.2520138,22.749 72.8299381,21.3899257 72.8299381,19.9337747 C72.8299381,19.0924431 72.0738493,17.7980866 68.5892665,16.956755 C67.9975449,16.8273193 64.2828481,15.9212698 63.658253,15.7594753 C58.9244801,14.5621956 54.6838085,12.8148144 54.6838085,8.38164363 C54.6838085,4.20734416 58.7272395,0.777299623 66.3538737,0.777299623 C71.1205201,0.777299623 75.0653308,2.36288625 77.9581921,5.27518821 L74.0462547,9.09353967 C72.205343,7.02256938 69.3782286,5.66349514 66.2881269,5.66349514 C61.948835,5.66349514 60.3709107,7.02256938 60.3709107,8.25220799 C60.3709107,9.35241095 61.5872274,10.0319481 65.8936458,11.0997921 C66.4853674,11.2615867 69.5754692,12.0382005 70.2000642,12.1676362 C75.7556727,13.4943515 78.5170403,16.3419357 78.5170403,19.836698 Z M103.902628,1.10088873 L103.902628,6.01944315 L94.4022082,6.01944315 L94.698069,6.53718572 L94.698069,27.3116064 L89.1095871,27.3116064 L89.1095871,6.53718572 L89.4054479,6.01944315 L79.9050286,6.01944315 L79.9050286,1.10088873 L103.902628,1.10088873 Z M112.292655,16.4713713 L120.642504,16.4713713 L120.083656,15.9536287 L117.322289,10.2584605 L116.500453,7.86390106 L116.434706,7.89625997 L115.612871,10.2584605 L112.851503,15.9536287 L112.292655,16.4713713 Z M118.933086,1.10088873 L131.720848,27.3116064 L125.606391,27.3116064 L122.81215,21.5517203 L123.140885,21.0663366 L109.761401,21.0663366 L110.090136,21.5517203 L107.328768,27.3116064 L101.181438,27.3116064 L114.002073,1.10088873 L118.933086,1.10088873 Z M158.158385,1.10088873 L158.158385,15.2417327 C158.158385,23.0725891 154.147827,27.6351955 145.666484,27.6351955 C137.152267,27.6351955 133.108836,23.1373069 133.108836,15.2417327 L133.108836,1.10088873 L138.697318,1.10088873 L138.697318,15.2093738 C138.697318,20.1602871 140.53823,22.7166411 145.633611,22.7166411 C150.663244,22.7166411 152.569903,20.1602871 152.569903,15.2093738 L152.569903,1.10088873 L158.158385,1.10088873 Z M180.388123,9.41712877 C180.388123,7.18436394 178.810199,6.01944315 175.884464,6.01944315 L168.06059,6.01944315 L168.586565,6.50482681 L168.586565,12.232354 L168.06059,12.7500966 L175.55573,12.7500966 C178.974566,12.7500966 180.388123,11.132151 180.388123,9.41712877 Z M184.234314,18.4452649 L188.968087,27.3116064 L182.689263,27.3116064 L179.040313,20.3867995 C177.95549,18.3481881 176.443313,17.4421386 173.353211,17.4421386 L168.06059,17.4421386 L168.586565,17.9275223 L168.586565,27.3116064 L162.998083,27.3116064 L162.998083,1.10088873 L175.884464,1.10088873 C181.177086,1.10088873 186.075226,3.68960158 186.075226,9.28769313 C186.075226,12.0705595 183.90558,14.5945545 181.538693,15.6623985 L181.538693,15.7271164 C182.426276,16.1154233 183.511099,17.0861906 184.234314,18.4452649 Z M199.823621,16.4713713 L208.173471,16.4713713 L207.614622,15.9536287 L204.853255,10.2584605 L204.031419,7.86390106 L203.965672,7.89625997 L203.143837,10.2584605 L200.382469,15.9536287 L199.823621,16.4713713 Z M206.464053,1.10088873 L219.251814,27.3116064 L213.137357,27.3116064 L210.343117,21.5517203 L210.671851,21.0663366 L197.292368,21.0663366 L197.621102,21.5517203 L194.859734,27.3116064 L188.712404,27.3116064 L201.533039,1.10088873 L206.464053,1.10088873 Z M246.116705,1.10088873 L246.116705,27.3116064 L241.415806,27.3116064 L229.417007,12.8795322 L227.444601,9.8054357 L227.378854,9.8054357 L227.378854,27.3116064 L221.790372,27.3116064 L221.790372,1.10088873 L226.491272,1.10088873 L238.621565,15.5329629 L240.462477,18.5099827 L240.528224,18.5099827 L240.528224,1.10088873 L246.116705,1.10088873 Z M272.81723,1.10088873 L272.81723,6.01944315 L263.31681,6.01944315 L263.612671,6.53718572 L263.612671,27.3116064 L258.024189,27.3116064 L258.024189,6.53718572 L258.32005,6.01944315 L248.819631,6.01944315 L248.819631,1.10088873 L272.81723,1.10088873 Z" transform="translate(66.573 74.499)"/>
                        <path fill-rule="nonzero" d="M8.32160495,52.534493 C10.1301677,48.5365226 12.2513714,44.6452018 14.6852159,40.8974033 C20.4509152,31.9819457 27.9311075,23.9597092 37.0439085,17.3477378 C37.1356306,17.281187 37.2274377,17.2148374 37.3193292,17.1486891 C39.0144233,15.9266923 40.7430247,14.7718635 42.5014497,13.6842027 C81.5979495,-10.5304154 133.383406,-0.819088388 160.867978,36.9595437 C163.183071,40.1417301 162.477763,44.5948668 159.29263,46.9059029 C156.107496,49.216939 151.648682,48.5107322 149.333589,45.3285458 C147.149729,42.3267435 144.783034,39.5361134 142.259857,36.9608294 C142.075101,36.8100279 141.89615,36.6485749 141.723827,36.4764706 C139.401119,34.1567205 136.963026,32.022444 134.427998,30.073641 C134.237764,29.9566418 134.051308,29.8297018 133.869296,29.6927277 C105.684066,8.48177227 67.2857049,10.3329856 41.3451413,32.0601767 C39.6894695,33.4488791 38.0801129,34.9209778 36.5226368,36.4764706 C36.4539917,36.5450283 36.3855088,36.6136867 36.3171881,36.6824453 C33.9701297,39.0485468 31.7547891,41.6000055 29.6919171,44.3339035 C27.9815593,46.600619 26.4208076,48.9333836 25.0080022,51.3203861 C10.4955748,76.0184045 11.0533544,107.988493 28.9914641,132.645134 C45.8967677,155.882143 73.7581347,166.464995 100.351553,162.457598 C103.933902,161.91427 107.484157,161.109308 110.971402,160.042712 C125.437365,155.604654 138.686857,146.731858 148.491829,133.737453 C150.862106,130.596155 155.332566,129.967873 158.476881,132.334145 C161.621196,134.700418 162.248679,139.165185 159.878402,142.306483 C157.44622,145.529822 154.836185,148.540347 152.072243,151.334691 C151.986832,151.42959 151.898421,151.522748 151.807008,151.614045 C148.57694,154.84 145.159622,157.764965 141.589996,160.388941 C141.489789,160.470217 141.386832,160.549259 141.281145,160.625942 C130.630623,168.353637 118.834696,173.367961 106.719877,175.799821 C82.7177732,180.663283 56.8243263,175.628239 35.730918,159.754274 C1.96208434,134.341346 -8.45890521,89.4613578 8.32160495,52.534493 Z M47.9888301,47.9280635 C70.610759,25.3349402 107.288153,25.3349402 129.910081,47.9280635 C132.694475,50.7089116 132.694475,55.2175571 129.910081,57.9984052 C127.125688,60.7792533 122.611294,60.7792533 119.8269,57.9984052 C102.773759,40.9669781 75.125153,40.9669781 58.0720113,57.9984052 C41.0188695,75.0298324 41.0188695,102.643232 58.0720113,119.674659 C75.125153,136.706086 102.773759,136.706086 119.8269,119.674659 C122.611294,116.893811 127.125688,116.893811 129.910081,119.674659 C132.694475,122.455507 132.694475,126.964153 129.910081,129.745001 C107.288153,152.338124 70.610759,152.338124 47.9888301,129.745001 C25.3669012,107.151877 25.3669012,70.5211868 47.9888301,47.9280635 Z"/>
                    </g>
                </svg>
            </a>
            <p><strong>{{ data.name }}</strong> is a member of the Restaurant Collective, a non-profit organisation of
                leading restaurateurs and industry professionals whose goal is to deliver value to their customers whilst
                making a positive contribution to the local community and environment. Visit <a
                        href="https://restaurantcollective.org.uk">restaurantcollective.org.uk</a> for more information</p>
        </div>
        <div>
            <a href="https://restaurantcollective.uk" class="ftr-logo-sml" title="Visit the Restaurant Collective website">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 178">
                    <g fill="#FFFFFF" fill-rule="evenodd">
                        <path fill-rule="nonzero" d="M104.481623,36.0610835 L102.609533,37.832952 C101.515727,36.4731459 100.085366,35.7108304 97.8556848,35.7108304 C93.6066702,35.7108304 91.8187186,38.5334582 91.8187186,42.0771953 C91.8187186,45.5385199 93.5225313,48.2375289 97.8346501,48.2375289 C100.064331,48.2375289 101.515727,47.4958165 102.630567,46.1154073 L104.460589,47.8666727 C102.840915,49.6179381 100.674338,50.5244755 97.8346501,50.5244755 C92.1552742,50.5244755 89.2314473,47.1043572 89.2314473,42.0771953 C89.2314473,37.0294303 92.2814825,33.4238838 97.8556848,33.4238838 C100.716407,33.4238838 102.861949,34.3304212 104.481623,36.0610835 Z M122.750282,42.0771953 C122.750282,38.6158707 121.151643,35.7108304 117.091941,35.7108304 C113.053274,35.7108304 111.4336,38.5128551 111.4336,42.0771953 C111.4336,45.559123 113.074309,48.2375289 117.091941,48.2375289 C121.151643,48.2375289 122.750282,45.559123 122.750282,42.0771953 Z M125.337554,42.0771953 C125.337554,47.1043572 122.413727,50.5244755 117.091941,50.5244755 C111.686017,50.5244755 108.846329,47.1043572 108.846329,42.0771953 C108.846329,37.0500334 111.686017,33.4238838 117.091941,33.4238838 C122.5189,33.4238838 125.337554,37.0294303 125.337554,42.0771953 Z M143.017241,48.0314977 L143.017241,50.3184443 L130.964343,50.3184443 L130.964343,33.629915 L133.48851,33.629915 L133.48851,47.7842602 L133.236093,48.0314977 L143.017241,48.0314977 Z M159.855538,48.0314977 L159.855538,50.3184443 L147.802641,50.3184443 L147.802641,33.629915 L150.326808,33.629915 L150.326808,47.7842602 L150.074391,48.0314977 L159.855538,48.0314977 Z M177.682468,48.0314977 L177.682468,50.3184443 L164.640938,50.3184443 L164.640938,33.629915 L177.682468,33.629915 L177.682468,35.9168616 L166.912689,35.9168616 L167.165106,36.1640991 L167.165106,40.5731673 L166.912689,40.8410079 L176.672801,40.8410079 L176.672801,43.1073514 L166.912689,43.1073514 L167.165106,43.3545889 L167.165106,47.7842602 L166.912689,48.0314977 L177.682468,48.0314977 Z M198.138739,36.0610835 L196.266648,37.832952 C195.172843,36.4731459 193.742481,35.7108304 191.5128,35.7108304 C187.263786,35.7108304 185.475834,38.5334582 185.475834,42.0771953 C185.475834,45.5385199 187.179647,48.2375289 191.491766,48.2375289 C193.721447,48.2375289 195.172843,47.4958165 196.287683,46.1154073 L198.117704,47.8666727 C196.49803,49.6179381 194.331454,50.5244755 191.491766,50.5244755 C185.81239,50.5244755 182.888563,47.1043572 182.888563,42.0771953 C182.888563,37.0294303 185.938598,33.4238838 191.5128,33.4238838 C194.373523,33.4238838 196.519065,34.3304212 198.138739,36.0610835 Z M216.28119,33.629915 L216.28119,35.9168616 L210.160085,35.9168616 L210.286293,36.1640991 L210.286293,50.3184443 L207.762126,50.3184443 L207.762126,36.1640991 L207.909369,35.9168616 L201.767229,35.9168616 L201.767229,33.629915 L216.28119,33.629915 Z M223.801104,33.629915 L223.801104,50.3184443 L221.276937,50.3184443 L221.276937,33.629915 L223.801104,33.629915 Z M243.142534,33.629915 L245.919118,33.629915 L238.535929,50.3184443 L236.074866,50.3184443 L228.691678,33.629915 L231.510331,33.629915 L236.790047,45.8475667 L237.294881,47.4958165 L237.33695,47.4958165 L237.862818,45.8475667 L243.142534,33.629915 Z M263.746048,48.0314977 L263.746048,50.3184443 L250.704518,50.3184443 L250.704518,33.629915 L263.746048,33.629915 L263.746048,35.9168616 L252.976268,35.9168616 L253.228685,36.1640991 L253.228685,40.5731673 L252.976268,40.8410079 L262.736381,40.8410079 L262.736381,43.1073514 L252.976268,43.1073514 L253.228685,43.3545889 L253.228685,47.7842602 L252.976268,48.0314977 L263.746048,48.0314977 Z M18.1796997,9.41712877 C18.1796997,7.18436394 16.6017754,6.01944315 13.6760407,6.01944315 L5.85216599,6.01944315 L6.37814076,6.50482681 L6.37814076,12.232354 L5.85216599,12.7500966 L13.3473065,12.7500966 C16.7661425,12.7500966 18.1796997,11.132151 18.1796997,9.41712877 Z M22.0258902,18.4452649 L26.7596631,27.3116064 L20.4808393,27.3116064 L16.8318893,20.3867995 C15.7470663,18.3481881 14.2348889,17.4421386 11.1447871,17.4421386 L5.85216599,17.4421386 L6.37814076,17.9275223 L6.37814076,27.3116064 L0.789658826,27.3116064 L0.789658826,1.10088873 L13.6760407,1.10088873 C18.9686618,1.10088873 23.8668019,3.68960158 23.8668019,9.28769313 C23.8668019,12.0705595 21.6971559,14.5945545 19.3302695,15.6623985 L19.3302695,15.7271164 C20.2178519,16.1154233 21.3026749,17.0861906 22.0258902,18.4452649 Z M50.9946805,22.393052 L50.9946805,27.3116064 L28.969487,27.3116064 L28.969487,1.10088873 L50.9946805,1.10088873 L50.9946805,6.01944315 L34.0319942,6.01944315 L34.557969,6.53718572 L34.557969,11.2292278 L34.0319942,11.7469703 L49.4167562,11.7469703 L49.4167562,16.6655248 L34.0319942,16.6655248 L34.557969,17.1832673 L34.557969,21.8753094 L34.0319942,22.393052 L50.9946805,22.393052 Z M78.5170403,19.836698 C78.5170403,23.8815618 74.9009637,27.6351955 66.6826079,27.6351955 C61.948835,27.6351955 57.3794292,26.1790445 54.02634,23.0078713 L57.905404,19.1895198 C60.6338981,21.6164381 63.7897467,22.749 66.8798485,22.749 C71.2520138,22.749 72.8299381,21.3899257 72.8299381,19.9337747 C72.8299381,19.0924431 72.0738493,17.7980866 68.5892665,16.956755 C67.9975449,16.8273193 64.2828481,15.9212698 63.658253,15.7594753 C58.9244801,14.5621956 54.6838085,12.8148144 54.6838085,8.38164363 C54.6838085,4.20734416 58.7272395,0.777299623 66.3538737,0.777299623 C71.1205201,0.777299623 75.0653308,2.36288625 77.9581921,5.27518821 L74.0462547,9.09353967 C72.205343,7.02256938 69.3782286,5.66349514 66.2881269,5.66349514 C61.948835,5.66349514 60.3709107,7.02256938 60.3709107,8.25220799 C60.3709107,9.35241095 61.5872274,10.0319481 65.8936458,11.0997921 C66.4853674,11.2615867 69.5754692,12.0382005 70.2000642,12.1676362 C75.7556727,13.4943515 78.5170403,16.3419357 78.5170403,19.836698 Z M103.902628,1.10088873 L103.902628,6.01944315 L94.4022082,6.01944315 L94.698069,6.53718572 L94.698069,27.3116064 L89.1095871,27.3116064 L89.1095871,6.53718572 L89.4054479,6.01944315 L79.9050286,6.01944315 L79.9050286,1.10088873 L103.902628,1.10088873 Z M112.292655,16.4713713 L120.642504,16.4713713 L120.083656,15.9536287 L117.322289,10.2584605 L116.500453,7.86390106 L116.434706,7.89625997 L115.612871,10.2584605 L112.851503,15.9536287 L112.292655,16.4713713 Z M118.933086,1.10088873 L131.720848,27.3116064 L125.606391,27.3116064 L122.81215,21.5517203 L123.140885,21.0663366 L109.761401,21.0663366 L110.090136,21.5517203 L107.328768,27.3116064 L101.181438,27.3116064 L114.002073,1.10088873 L118.933086,1.10088873 Z M158.158385,1.10088873 L158.158385,15.2417327 C158.158385,23.0725891 154.147827,27.6351955 145.666484,27.6351955 C137.152267,27.6351955 133.108836,23.1373069 133.108836,15.2417327 L133.108836,1.10088873 L138.697318,1.10088873 L138.697318,15.2093738 C138.697318,20.1602871 140.53823,22.7166411 145.633611,22.7166411 C150.663244,22.7166411 152.569903,20.1602871 152.569903,15.2093738 L152.569903,1.10088873 L158.158385,1.10088873 Z M180.388123,9.41712877 C180.388123,7.18436394 178.810199,6.01944315 175.884464,6.01944315 L168.06059,6.01944315 L168.586565,6.50482681 L168.586565,12.232354 L168.06059,12.7500966 L175.55573,12.7500966 C178.974566,12.7500966 180.388123,11.132151 180.388123,9.41712877 Z M184.234314,18.4452649 L188.968087,27.3116064 L182.689263,27.3116064 L179.040313,20.3867995 C177.95549,18.3481881 176.443313,17.4421386 173.353211,17.4421386 L168.06059,17.4421386 L168.586565,17.9275223 L168.586565,27.3116064 L162.998083,27.3116064 L162.998083,1.10088873 L175.884464,1.10088873 C181.177086,1.10088873 186.075226,3.68960158 186.075226,9.28769313 C186.075226,12.0705595 183.90558,14.5945545 181.538693,15.6623985 L181.538693,15.7271164 C182.426276,16.1154233 183.511099,17.0861906 184.234314,18.4452649 Z M199.823621,16.4713713 L208.173471,16.4713713 L207.614622,15.9536287 L204.853255,10.2584605 L204.031419,7.86390106 L203.965672,7.89625997 L203.143837,10.2584605 L200.382469,15.9536287 L199.823621,16.4713713 Z M206.464053,1.10088873 L219.251814,27.3116064 L213.137357,27.3116064 L210.343117,21.5517203 L210.671851,21.0663366 L197.292368,21.0663366 L197.621102,21.5517203 L194.859734,27.3116064 L188.712404,27.3116064 L201.533039,1.10088873 L206.464053,1.10088873 Z M246.116705,1.10088873 L246.116705,27.3116064 L241.415806,27.3116064 L229.417007,12.8795322 L227.444601,9.8054357 L227.378854,9.8054357 L227.378854,27.3116064 L221.790372,27.3116064 L221.790372,1.10088873 L226.491272,1.10088873 L238.621565,15.5329629 L240.462477,18.5099827 L240.528224,18.5099827 L240.528224,1.10088873 L246.116705,1.10088873 Z M272.81723,1.10088873 L272.81723,6.01944315 L263.31681,6.01944315 L263.612671,6.53718572 L263.612671,27.3116064 L258.024189,27.3116064 L258.024189,6.53718572 L258.32005,6.01944315 L248.819631,6.01944315 L248.819631,1.10088873 L272.81723,1.10088873 Z" transform="translate(66.573 74.499)"/>
                        <path fill-rule="nonzero" d="M8.32160495,52.534493 C10.1301677,48.5365226 12.2513714,44.6452018 14.6852159,40.8974033 C20.4509152,31.9819457 27.9311075,23.9597092 37.0439085,17.3477378 C37.1356306,17.281187 37.2274377,17.2148374 37.3193292,17.1486891 C39.0144233,15.9266923 40.7430247,14.7718635 42.5014497,13.6842027 C81.5979495,-10.5304154 133.383406,-0.819088388 160.867978,36.9595437 C163.183071,40.1417301 162.477763,44.5948668 159.29263,46.9059029 C156.107496,49.216939 151.648682,48.5107322 149.333589,45.3285458 C147.149729,42.3267435 144.783034,39.5361134 142.259857,36.9608294 C142.075101,36.8100279 141.89615,36.6485749 141.723827,36.4764706 C139.401119,34.1567205 136.963026,32.022444 134.427998,30.073641 C134.237764,29.9566418 134.051308,29.8297018 133.869296,29.6927277 C105.684066,8.48177227 67.2857049,10.3329856 41.3451413,32.0601767 C39.6894695,33.4488791 38.0801129,34.9209778 36.5226368,36.4764706 C36.4539917,36.5450283 36.3855088,36.6136867 36.3171881,36.6824453 C33.9701297,39.0485468 31.7547891,41.6000055 29.6919171,44.3339035 C27.9815593,46.600619 26.4208076,48.9333836 25.0080022,51.3203861 C10.4955748,76.0184045 11.0533544,107.988493 28.9914641,132.645134 C45.8967677,155.882143 73.7581347,166.464995 100.351553,162.457598 C103.933902,161.91427 107.484157,161.109308 110.971402,160.042712 C125.437365,155.604654 138.686857,146.731858 148.491829,133.737453 C150.862106,130.596155 155.332566,129.967873 158.476881,132.334145 C161.621196,134.700418 162.248679,139.165185 159.878402,142.306483 C157.44622,145.529822 154.836185,148.540347 152.072243,151.334691 C151.986832,151.42959 151.898421,151.522748 151.807008,151.614045 C148.57694,154.84 145.159622,157.764965 141.589996,160.388941 C141.489789,160.470217 141.386832,160.549259 141.281145,160.625942 C130.630623,168.353637 118.834696,173.367961 106.719877,175.799821 C82.7177732,180.663283 56.8243263,175.628239 35.730918,159.754274 C1.96208434,134.341346 -8.45890521,89.4613578 8.32160495,52.534493 Z M47.9888301,47.9280635 C70.610759,25.3349402 107.288153,25.3349402 129.910081,47.9280635 C132.694475,50.7089116 132.694475,55.2175571 129.910081,57.9984052 C127.125688,60.7792533 122.611294,60.7792533 119.8269,57.9984052 C102.773759,40.9669781 75.125153,40.9669781 58.0720113,57.9984052 C41.0188695,75.0298324 41.0188695,102.643232 58.0720113,119.674659 C75.125153,136.706086 102.773759,136.706086 119.8269,119.674659 C122.611294,116.893811 127.125688,116.893811 129.910081,119.674659 C132.694475,122.455507 132.694475,126.964153 129.910081,129.745001 C107.288153,152.338124 70.610759,152.338124 47.9888301,129.745001 C25.3669012,107.151877 25.3669012,70.5211868 47.9888301,47.9280635 Z"/>
                    </g>
                </svg>
            </a>
        </div>
    </section>
</footer>


