<!DOCTYPE html>
<html lang="{{ language }}" data-id="{{ data.id }}" data-template-version="{{ pkg.version }}" xmlns="http://www.w3.org/1999/html">
<head>
	<meta charset="utf-8">
    <title>{{ data.name }} | {{ data.streetAddress }} {{ data.postalCode }}</title>
    <meta name="description" content="{{ data.description.sentence }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- TODO: should only be applied to previews -->
<!--    <meta name="robots" content="noindex">-->

    {{> partials/schema.org }}

    {{> partials/open-graph }}

    {{> partials/favicons }}

    {{> partials/fonts }}

    <link rel="stylesheet" href="{{ config.assets }}/styles/themes/{{ data.config.theme }}.css?v={{ pkg.version }}" />

	<link rel="stylesheet" href="{{ config.assets }}/styles/base.css?v={{ pkg.version }}" />

	<script type="module" src="{{ config.assets }}/scripts/bundle.js?v={{ pkg.version }}" defer></script>

    <script type="module" src="{{ config.assets }}/scripts/booking-widgets.js?v={{ pkg.version }}" defer></script>

    {{> partials/google-apis }}

</head>

<body>

	{{{ content }}}

</body>
</html>
