
<!DOCTYPE html>
<html lang="{{ language }}" data-id="{{ demo.number }}" xmlns="http://www.w3.org/1999/html">

<!-- {{ pkg.version }} -->

<head>

	<meta charset="utf-8">
    <title>{{ demo.name }} | {{ demo.streetAddress }} {{ demo.postalCode }}</title>
    <meta name="description" content="{{ demo.description.sentence }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- TODO: should only be applied to previews -->
<!--    <meta name="robots" content="noindex">-->

    {{> partials/schema.org dataSrc=demo }}

    {{> partials/open-graph dataSrc=demo }}

    {{> partials/favicons dataSrc=demo }}

    {{> partials/fonts }}

    {{#if demo.theme}}
        <link rel="stylesheet" href="/assets/styles/themes/{{ demo.theme }}.css" />
    {{/if}}

	<link rel="stylesheet" href="/assets/styles/member.css" />

	<script type="module" src="/assets/scripts/main.js" defer></script>

    {{> partials/google-apis }}

</head>

<body>

	{{{ content }}}

</body>
</html>
