
<!DOCTYPE html>
<html lang="{{ language }}" data-id="{{ data.number }}" xmlns="http://www.w3.org/1999/html">

<!-- Template version {{ pkg.version }} -->

<head>

	<meta charset="utf-8">
    <title>{{ data.name }} | {{ data.streetAddress }} {{ data.postalCode }}</title>
    <meta name="description" content="{{ data.description.sentence }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- TODO: should only be applied to previews -->
<!--    <meta name="robots" content="noindex">-->

    {{> partials/schema.org }}

    {{> partials/open-graph }}

    <link rel="icon" href="{{ config.assets }}/images/favicon.svg">
    <link rel="apple-touch-icon" href="{{ config.assets }}/images/apple-touch-icon.png">
    <link rel="manifest" href="{{ config.assets }}/manifest.json?v={{ pkg.version }}">

    {{> partials/fonts }}

    <link rel="stylesheet" href="{{ config.assets }}/styles/themes/{{ data.config.theme }}.css?v={{ pkg.version }}" />

	<link rel="stylesheet" href="{{ config.assets }}/styles/base.css?v={{ pkg.version }}" />

	<script type="module" src="{{ config.assets }}/scripts/main.js?v={{ pkg.version }}" defer></script>

    {{> partials/google-apis }}

</head>

<body>

	{{{ content }}}

</body>
</html>
