<!DOCTYPE html>
<html lang="{{ language }}">

<!-- {{ pkg.version }} -->

<head>

	<meta charset="utf-8">
    <title>{{ restaurant.name }} | {{ restaurant.streetAddress }} {{ restaurant.postalCode }}</title>
    <meta name="description" content="{{ restaurant.description.sentence }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#00a69b"/>
<!--    <meta name="robots" content="noindex">-->

    {{> partials/schema.org }}

    {{> partials/open-graph }}

    {{> partials/favicons }}

    {{> partials/fonts }}

	<link rel="stylesheet" href="/assets/styles/listing.css" />

	<script type="module" src="/assets/scripts/listing.js" defer></script>

    {{> partials/google-apis }}

</head>

<body>
	{{{ content }}}
</body>

</html>
