<!DOCTYPE html>
<html lang="{{ language }}">

<!-- {{ pkg.version }} -->

<head>

	<meta charset="utf-8">
    <title>{{ restaurant.name }} | {{ restaurant.streetAddress }} {{ restaurant.postalCode }}</title>
    <meta name="description" content="{{ restaurant.description.sentence }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">

    {{> partials/_schema.org }}

    {{> partials/_open-graph }}

    {{> partials/_fonts }}

	<link rel="stylesheet" href="/assets/styles/style.css" />

	{{> partials/_hero-image }}

	<script type="module" src="/assets/scripts/main.js" defer></script>
	<script async defer src="https://www.googletagmanager.com/gtag/js?id={{ gtag }}"></script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBm6ktQeIUDl0vJBtQoXeAczfWs3EyPMWU&language={{ language }}"></script>

</head>

<body>

	{{{ content }}}

</body>
</html>
