<!DOCTYPE html>
<html lang="{{ language }}" data-id="{{ data.id }}" xmlns="http://www.w3.org/1999/html">

<!-- {{ pkg.version }} -->

<head>

	<meta charset="utf-8">
    <title>{{ data.name }} | {{ data.streetAddress }} {{ data.postalCode }}</title>
    <meta name="description" content="{{ data.description.sentence }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- TODO: should only be applied to previews -->
<!--    <meta name="robots" content="noindex">-->

    {{> partials/schema.org }}

    {{> partials/open-graph }}

    {{> partials/favicons }}

    {{> partials/fonts }}

    <link rel="stylesheet" href="/assets/styles/themes/{{ brand.theme }}.css" />
	<link rel="stylesheet" href="/assets/styles/member.css" />

	<script type="module" src="/assets/scripts/main.js" defer></script>

    {{> partials/google-apis }}

</head>

<body>

	{{{ content }}}

</body>
</html>
