---
title: "Apptiser Curated"
language: "en"
layout: "layouts/apptiser-curated.hbs"
gtag: "G-YYS1LVWV8X"
permalink: "/templates/apptiser-curated-{{ pkg.version }}.html"
brand:
    name: "apptiser"
    prefix: "apptiser"
    url: "https://apptiser.io/"
    theme: "apptiser"
---

<section id="hero" class="section-hero golden-ratio">
    <div class="brand-container fade-in">
        <h2>{{ data.name }}</h2>
        <h3 class="subtitle">{{ data.subtitle }}</h3>
    </div>
    {{> partials/hero-image }}
</section>

<main id="home">
    <!-- about -->
    <section id="about" class="content-section" aria-label="introduction">

        <div class="content-block">
            <div class="description" aria-label="description">
                <p>{{ data.description.full }}</p>
                <!-- feature tags-->
                <ul class="additional-features" aria-label="features">
                    <!-- {{ data.features }} -->
                    {{#each data.features }}
                        <li>{{ this }}</li>
                    {{/each}}
                </ul>

                {{> partials/gallery }}

            </div>

            <!-- times -->
            <aside class="opening-times">
                <dl>
                    <dt>Telephone</dt>
                    <dd><a href="tel:{{ data.phone }}">{{ data.phone }}</a></dd>
                    <dt>Address</dt>
                    <dd>{{ data.addressStreet }}</dd>
                    <dd>{{ data.addressLocality }}</dd>
                    <dd>{{ data.addressRegion }} {{ data.postalCode }}</dd>
                    <dt>Opening Times</dt>
                    <dd class="times">{{ data.openingTimes }}</dd>
                    <!-- RDL OPENING NOTES -->
                    <dt>{{ section.about.openingNotes }}</dt>
                    <dd>{{ data.openingNotes }}</dd>
                    <!-- /RDL OPENING NOTES -->
                </dl>
                {{ location.mapLoadOffset }}
            </aside>
        </div>

    </section>

    <!-- location -->
    <section id="find" class="map-section" aria-label="location map">
        <div class="content-block"
             id="location"
             data-lat="{{ data.geocode.lat }}"
             data-lng="{{ data.geocode.lng }}"
             data-label="{{ data.name }}"
             data-map-show-info="true"
             data-intersection="50">
            <div id="map"></div>
        </div>
        <a class="btn btn-map-directions"
           target="_blank"
           href="https://www.google.co.uk/maps?daddr={{ data.addressStreet }} {{ data.postalCode }}">{{ button.directions }}</a>
    </section>

</main>

{{> partials/footer-claim-data }}

