---
title: "Apptiser Premium"
language: "en"
layout: "layouts/apptiser-premium-serb.hbs"
gtag: "G-4FPKM2SVKM"
permalink: "/templates/apptiser-premium-serb-{{ pkg.version }}.html"
brand:
    name: "Apptiser"
    prefix: "app"
    url: "https://apptiser.io/"
    theme: "apptiser"
---


<!-- mobile nav -->
<div class="nav-menu" id="navMenu">
    <button id="navBtn" class="hamburger hamburger--spin" type="button" aria-label="{{ nav.label.navMenuMobile }}">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
    </button>
</div>

<!-- global nav -->
<nav id="navBar" aria-label="primary">
    <a href="#" class="brand" aria-label="{{ nav.label.backToTop }}">
        <h1>{{ data.name }}</h1>
    </a>
    <ul class="nav-list-mobile" role="list">
        {{> partials/nav-options }}
    </ul>
</nav>

<!-- hero -->
<section id="hero" class="section-hero">
    {{> partials/brand }}
    {{> partials/hero-image }}
</section>

<main id="home">
    <!-- about -->
    <section id="about" class="content-section" aria-label="introduction">
        <div class="content-block">
            <div class="description" aria-label="description">
                <p>{{ data.description.full }}</p>
                <!-- feature tags-->
                <ul class="additional-features" aria-label="features">
                    <!-- {{ data.features }} -->
                    {{#each data.features }}
                        <li>{{ this }}</li>
                    {{/each}}
                </ul>
            </div>
            <!-- times -->
            <aside class="opening-times">
                <!-- Optional section tag start - RESERVATIONS -->
                <a class="btn-book serbwidget"
                   href="{{ data.reservations.tgtUrl }}"
                   target="_blank">BOOK ONLINE</a>
                <!-- Optional section tag end - RESERVATIONS -->
                <dl>
                    <dt>Telephone</dt>
                    <dd><a href="tel:{{ data.phone }}">{{ data.phone }}</a></dd>
                    <dt>Address</dt>
                    <dd>{{ data.addressStreet }}</dd>
                    <dd>{{ data.addressLocality }}</dd>
                    <dd>{{ data.addressRegion }} {{ data.postalCode }}</dd>
                    <dt>Opening Times</dt>
                    <dd class="times">{{ data.openingTimes }}</dd>

                    <!-- Optional section tag start - OPENING NOTES -->
                    <dt>PLEASE NOTE:</dt>
                    <dd>{{ data.openingNotes }}</dd>
                    <!-- Optional section tag end - OPENING NOTES -->
                </dl>
            </aside>
        </div>

        {{> partials/gallery }}

    </section>

    {{> partials/menus }}

    {{#if data.menus.pdfs.length }}
        {{> partials/menu-downloads }}
    {{/if}}

    <!-- Optional section tag start - RESERVATIONS -->
    <section id="reservations" class="content-section booking-section" aria-label="booking widget">
        <h2 class="section-title">Reservations</h2>
        <p>{{ data.reservations.info }}</p>

        <a class="btn-book serbwidget"
           href="{{ data.reservations.tgturl }}"
           target="_blank">BOOK ONLINE</a>

        {{> partials/booking-extra }}

    </section>
    <!-- Optional section tag end - RESERVATIONS -->

    {{> partials/contacts }}

    {{> partials/map }}

</main>

<div id="eventsWidget" class="events-sticky" data-widget-label="Events & Offers"></div>




