---
title: "Auto SPW"
language: "en"
gtag: "G-RX7PGJKJGS"
layout: "layouts/listing.hbs"
permalink: "/templates/auto.html"
---

<main id="home">

    <!-- hero -->
    <section id="hero" class="hero-section">

        <!-- branding -->
        <div class="brand-container fade-in">
            <h2>{{ restaurant.name }}</h2>
            <h3 class="desc-strapline">{{ restaurant.subtitle }}</h3>
        </div>

        <h2 class="desc-one-sentence">{{ restaurant.description.sentence }}</h2>

    </section>

    <!-- about -->
    <section id="about" class="content-section" aria-label="introduction">
        <div class="content-block">

            <div class="descriptions desc-full" aria-label="description">

                <p>{{ restaurant.description.full }}</p>

                <!-- Feature keywords-->
                <ul class="additional-features" aria-label="features">
                    {{#each restaurant.features }}
                        <li>{{ this }}</li>
                    {{/each}}
                </ul>

            </div>

            <!-- times -->
            <aside class="opening-times">
                <dl>
                    <dt>Telephone</dt>
                    <dd><a href="tel:{{ restaurant.phone }}">{{ restaurant.phone }}</a></dd>
                    <dt>Address</dt>
                    <dd>{{ restaurant.addressStreet }}</dd>
                    <dd>{{ restaurant.addressLocality }}</dd>
                    <dd>{{ restaurant.addressRegion }} {{ restaurant.postalCode }}</dd>
                    <dt>Opening Times</dt>
                    <dd class="times">{{ restaurant.openingTimes }}</dd>
                    <!-- Optional section tag start - Opening Notes -->
                    <dt>PLEASE NOTE:</dt>
                    <dd>{{ restaurant.openingNotes }}</dd>
                    <!-- Optional section tag end - Opening Notes -->
                </dl>
            </aside>
        </div>

    </section>

    <!-- location -->
    <section class="map-section" aria-label="map">
        <div class="content-block"
             id="location"
             data-lat="{{ restaurant.geocode.lat }}"
             data-lng="{{ restaurant.geocode.lng }}"
             data-label="{{ restaurant.name }}">
            <div id="map" data-intersection="300"></div>
        </div>
    </section>
</main>

{{> partials/footer }}


