---
title: "Auto SPW"
language: "en"
gtag: "G-RX7PGJKJGS"
layout: "layouts/listing.hbs"
permalink: "/templates/auto.html"
---

<!-- hero -->
<section id="hero" class="hero-section hero-stack golden-ratio">
    <div class="brand-container fade-in">
        <h2>{{ restaurant.name }}</h2>
        <h3 class="subtitle">{{ restaurant.subtitle }}</h3>
        <a href="#about" class="scroll-down"></a>
    </div>
    <span class="img-credit">LIBRARY IMAGE</span>
    {{> partials/hero-image }}
</section>

<main id="home">

    <!-- about -->
    <section id="about" class="content-section" aria-label="introduction">
        <div class="content-block">
            <div class="descriptions desc-full" aria-label="description">
                <p>{{ restaurant.description.full }}</p>
                <!-- Feature keywords-->
                <ul class="additional-features" aria-label="features">
                    {{#each restaurant.features }}
                        <li>{{ this }}</li>
                    {{/each}}
                </ul>
            </div>
            <!-- times -->
            <aside class="opening-times">
                <dl>
                    <dt>Telephone</dt>
                    <dd><a href="tel:{{ restaurant.phone }}">{{ restaurant.phone }}</a></dd>
                    <dt>Address</dt>
                    <dd>{{ restaurant.addressStreet }}</dd>
                    <dd>{{ restaurant.addressLocality }}</dd>
                    <dd>{{ restaurant.addressRegion }} {{ restaurant.postalCode }}</dd>
                    <dt>Opening Times</dt>
                    <dd class="times">{{ restaurant.openingTimes }}</dd>
                    <!-- Optional section tag start - Opening Notes -->
                    <dt>PLEASE NOTE:</dt>
                    <dd>{{ restaurant.openingNotes }}</dd>
                    <!-- Optional section tag end - Opening Notes -->
                </dl>
            </aside>
        </div>
    </section>

    {{> partials/map }}

</main>

{{> partials/footer }}


