---
title: "Member SPW"
language: "en"
layout: "layouts/member.hbs"
gtag: "G-RX7PGJKJGS"
permalink: "/templates/demo.html"
---

<!-- mobile nav -->
<div class="nav-menu" id="navMenu">
    <button id="navBtn" class="hamburger hamburger--spin" type="button" title="{{ demo.name }} navigation menu">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
    </button>
</div>

<!-- global nav -->
<nav id="navBar" aria-label="primary">
    <a href="#" class="brand" title="Back to top">
        <h1>{{ demo.name }}</h1>
    </a>
    <ul class="nav-list-mobile" role="list">
        <li><a href="#about" title="About ">About</a></li>
        <!-- Optional section tag start - Menus NavBar -->
        <li><a href="#menus" title="Menus ">Menus</a></li>
        <!-- Optional section tag end - Menus NavBar -->
        <li><a href="#reservations" title="Reservations">Reservation</a></li>
        <li><a href="#contacts" title="Contact ">Contacts</a></li>
        <li><a href="#location" title="Find ">Location</a></li>
    </ul>
</nav>

<!-- hero -->
<section id="hero" class="hero-section">
    <div class="brand-container fade-in">
        <h2>{{ demo.name }}</h2>
        <h3 class="subtitle">{{ demo.subtitle }}</h3>
        <ul class="hero-nav fade-in">
            <li><a href="#about" title="About ">About</a></li>
            <!-- Optional section tag start - Menus Hero -->
            <li><a href="#menus" title="Menus ">Menus</a></li>
            <!-- Optional section tag end - Menus Hero -->
            <li><a href="#reservations" title="Reservations">Reservations</a></li>
            <li><a href="#contacts" title="Contact">Contacts</a></li>
            <li><a href="#location" title="Find">Location</a></li>
        </ul>
        <span class="desc-one-sentence fade-in" >{{ demo.description.sentence }}</span>
    </div>
    {{> partials/hero-image-demo }}
</section>

<main id="home">

    <!-- about -->
    <section id="about" class="content-section" aria-label="introduction">
        <div class="content-block">
            <div class="descriptions desc-full" aria-label="description">
                <p>{{ demo.description.full }}</p>
                <!-- Feature keywords-->
                <!-- TODO -->
                <ul class="additional-features" aria-label="features">
                    {{#each demo.features }}
                    <li>{{ this }}</li>
                    {{/each}}
                </ul>
            </div>
            <!-- times -->
            <aside class="opening-times">
                <button class="btn-book"
                        data-mzid="{{ demo.mzId }}"
                        data-mzkey="{{ demo.mzKey }}">
                    BOOK ONLINE
                </button>
                <dl>
                    <dt>Telephone</dt>
                    <dd><a href="tel:{{ demo.phone }}">{{ demo.phone }}</a></dd>
                    <dt>Address</dt>
                    <dd>{{ demo.addressStreet }}</dd>
                    <dd>{{ demo.addressLocality }}</dd>
                    <dd>{{ demo.addressRegion }} {{ demo.postalCode }}</dd>
                    <dt>Opening Times</dt>
                    <dd class="times">{{ demo.openingTimes }}</dd>

                    <!-- Optional section tag start - Opening Notes -->
                    <dt>PLEASE NOTE:</dt>
                    <dd>{{ demo.openingNotes }}</dd>
                    <!-- Optional section tag end - Opening Notes -->
                </dl>
            </aside>
        </div>

        {{> partials/gallery }}

    </section>

    {{> partials/menus-demo }}

    {{> partials/menu-downloads-demo }}

    <!-- bookings -->
    <section id="reservations" class="content-section booking-section" aria-label="booking widget">
        <h2>Reservations</h2>
        <p>{{ demo.reservations.info }}</p>
        <p><a href="#reservations" data-mzid="{{ demo.mzId }}" data-mzkey="{{ demo.mzKey }}">BOOK ONLINE</a> at
            anytime, or call us during opening hours on <a
                    href="tel:{{ demo.phone }}">{{ demo.phone }}</a>.</p>
        <!-- booking extras -->
        <div class="content-block">
            <aside>
                <h2>Group bookings</h2>
                <p>{{ demo.reservations.groups }}</p>
            </aside>
            <aside>
                <h2>Private Dining</h2>
                <p>{{ demo.reservations.private }}</p>
            </aside>
        </div>
    </section>

    <!-- contacts -->
    <section id="contacts" class="content-section contact-section">
        <h2>Contacts</h2>
        <div class="content-block">
            <!-- address -->
            <aside>
                <dl>
                    <dt>Address</dt>
                    <dd>{{ demo.addressStreet }}</dd>
                    <dd>{{ demo.addressLocality }} {{ demo.postalCode }}</dd>
                    <dt>Telephone</dt>
                    <dd><a href="tel:{{ demo.phone }}">{{ demo.phone }}</a></dd>
                </dl>
            </aside>
            <!-- social -->
            <aside>
                <dl>
                    <dt>Links</dt>
                    <dd>
                        <div class="social-links">
                        {{#each demo.social.networks }}
                            <a class="social-link" href="{{ this.url }}" title="{{ this.alt }}">
                                <img src="/assets/imgs/{{ this.name }}.svg" alt="{{ this.name }} logo">
                                <span>{{ this.name }}</span>
                            </a>

                        {{/each}}
                        </div>
                    </dd>
                </dl>
            </aside>
            <!-- transport -->
            <aside>
                <dl>
                    <dt>Public Transport</dt>
                    <dd>{{ demo.transport }}</dd>
                    <dt>Parking</dt>
                    <dd>{{ demo.parking }}</dd>
                </dl>
            </aside>
        </div>
    </section>

    {{> partials/map-demo }}

</main>

<footer>
    <section class="footer-section">
        <div class="col-span-2">

        </div>
        <div>
            <a href="https://apptiser.io" class="ftr-logo-sml" title="Visit the Restaurant Collective website">

                <svg width="120px" height="auto" viewBox="0 0 299 65" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Logos" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Artboard" fill="#FFFFFF">
                            <g id="Group" transform="translate(0.000000, -15.000000)">
                                <g id="Hex-Icon" transform="translate(0.000000, 15.000000)" fill-rule="nonzero">
                                    <path d="M38.1681344,52.5476296 L22.3696682,43.3257362 L22.3696682,53.5235108 L27.7411783,56.6481618 C28.7862835,57.256108 30.0739061,57.256108 31.1190113,56.6481618 L38.1681344,52.5476296 Z M16.7772512,50.2703563 L16.7772512,31.412079 L7.82938389,36.6354199 L7.82938389,43.1003962 C7.82938389,44.3162886 8.47319522,45.4398194 9.51830039,46.0477656 L16.7772512,50.2703563 Z M7.82938389,30.1463944 L23.9292258,20.7480696 L15.1952847,15.6498865 L9.51830039,18.9522344 C8.47319522,19.5601806 7.82938389,20.6837114 7.82938389,21.8996038 L7.82938389,30.1463944 Z M20.7655445,12.4096211 L36.6303318,21.6702275 L36.6303318,11.5578181 L31.1190113,8.35183816 C30.0739061,7.74389198 28.7862835,7.74389198 27.7411783,8.35183816 L20.7655445,12.4096211 Z M42.2227488,14.8109726 L42.2227488,33.6413771 L51.0308057,28.499931 L51.0308057,21.8996038 C51.0308057,20.6837114 50.3869944,19.5601806 49.3418892,18.9522344 L42.2227488,14.8109726 Z M51.0308057,34.991673 L35.1221527,44.2778847 L43.7383942,49.3073642 L49.3418892,46.0477656 C50.3869944,45.4398194 51.0308057,44.3162886 51.0308057,43.1003962 L51.0308057,34.991673 Z M22.3696682,28.1474909 L22.3696682,36.8339942 L29.561496,41.0320138 L36.6303318,36.9057873 L36.6303318,28.1619695 L29.4874041,23.992494 L22.3696682,28.1474909 Z M35.0440176,1.51609531 L53.2462667,12.1079506 C56.7201743,14.129411 58.8601896,17.8652239 58.8601896,21.9081447 L58.8601896,43.0918553 C58.8601896,47.1347761 56.7201743,50.870589 53.2462667,52.8920494 L35.0440176,63.4839047 C31.5701101,65.5053651 27.2900795,65.5053651 23.8161719,63.4839047 L5.61392285,52.8920494 C2.1400153,50.870589 -5.75664406e-15,47.1347761 -1.0011505e-14,43.0918553 L-1.42663659e-14,21.9081447 C-1.63937963e-14,17.8652239 2.1400153,14.129411 5.61392285,12.1079506 L23.8161719,1.51609531 C27.2900795,-0.505365103 31.5701101,-0.505365103 35.0440176,1.51609531 Z" id="Combined-Shape"></path>
                                </g>
                                <text id="apptiser" font-family="AcherusGrotesque-ExtraBold, Acherus Grotesque" font-size="64" font-weight="700" letter-spacing="-3.5999999">
                                    <tspan x="61.0359997" y="64">apptise</tspan>
                                    <tspan x="273.02" y="64">r</tspan>
                                </text>
                            </g>
                        </g>
                    </g>
                </svg>
            </a>
        </div>
    </section>
</footer>


