---
title: "Member SPW"
language: "en"
layout: "layouts/apptiser.hbs"
gtag: "G-RX7PGJKJGS"
permalink: "/templates/index.html"
---

<!-- mobile nav -->
<div class="nav-menu" id="navMenu">
    <button id="navBtn" class="hamburger hamburger--spin" type="button" title="{{ demo.name }} navigation menu">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
    </button>
</div>

<!-- global nav -->
<nav id="navBar" aria-label="primary">
    <a href="#" class="brand" title="Back to top">
        <h1>{{ demo.name }}</h1>
    </a>
    <ul class="nav-list-mobile" role="list">
        <li><a href="#about" title="About ">About</a></li>
        <!-- Optional section tag start - Menus NavBar -->
        <li><a href="#menus" title="Menus ">Menus</a></li>
        <!-- Optional section tag end - Menus NavBar -->
        <li><a href="#reservations" title="Reservations">Reservation</a></li>
        <li><a href="#contacts" title="Contact ">Contacts</a></li>
        <li><a href="#location" title="Find ">Location</a></li>
    </ul>
</nav>

<!-- hero -->
<section id="hero" class="hero-section">
    <div class="brand-container fade-in">
        <h2>{{ demo.name }}</h2>
        <h3 class="subtitle">{{ demo.subtitle }}</h3>
        <ul class="hero-nav fade-in">
            <li><a href="#about" title="About ">About</a></li>
            <!-- Optional section tag start - Menus Hero -->
            <li><a href="#menus" title="Menus ">Menus</a></li>
            <!-- Optional section tag end - Menus Hero -->
            <li><a href="#reservations" title="Reservations">Reservations</a></li>
            <li><a href="#contacts" title="Contact">Contacts</a></li>
            <li><a href="#location" title="Find">Location</a></li>
        </ul>
        <span class="desc-one-sentence fade-in" >{{ demo.description.sentence }}</span>
    </div>
    {{> partials/hero-image-demo }}
</section>

<main id="home">

    <!-- about -->
    <section id="about" class="content-section" aria-label="introduction">
        <div class="content-block">
            <div class="descriptions desc-full" aria-label="description">
                <p>{{ demo.description.full }}</p>
                <!-- Feature keywords-->
                <!-- TODO -->
                <ul class="additional-features" aria-label="features">
                    {{#each demo.features }}
                    <li>{{ this }}</li>
                    {{/each}}
                </ul>
            </div>
            <!-- times -->
            <aside class="opening-times">
                <button class="btn-book"
                        data-mzid="{{ demo.mzId }}"
                        data-mzkey="{{ demo.mzKey }}">
                    BOOK ONLINE
                </button>
                <dl>
                    <dt>Telephone</dt>
                    <dd><a href="tel:{{ demo.phone }}">{{ demo.phone }}</a></dd>
                    <dt>Address</dt>
                    <dd>{{ demo.addressStreet }}</dd>
                    <dd>{{ demo.addressLocality }}</dd>
                    <dd>{{ demo.addressRegion }} {{ demo.postalCode }}</dd>
                    <dt>Opening Times</dt>
                    <dd class="times">{{ demo.openingTimes }}</dd>

                    <!-- Optional section tag start - Opening Notes -->
                    <dt>PLEASE NOTE:</dt>
                    <dd>{{ demo.openingNotes }}</dd>
                    <!-- Optional section tag end - Opening Notes -->
                </dl>
            </aside>
        </div>

        {{> partials/gallery }}

    </section>

    {{> partials/menus-demo }}

    {{> partials/menu-downloads-demo }}

    <!-- bookings -->
    <section id="reservations" class="content-section booking-section" aria-label="booking widget">
        <h2>Reservations</h2>
        <p>{{ demo.reservations.info }}</p>
        <p><a href="#reservations" data-mzid="{{ demo.mzId }}" data-mzkey="{{ demo.mzKey }}">BOOK ONLINE</a> at
            anytime, or call us during opening hours on <a
                    href="tel:{{ demo.phone }}">{{ demo.phone }}</a>.</p>
        <!-- booking extras -->
        <div class="content-block">
            <aside>
                <h2>Group bookings</h2>
                <p>{{ demo.reservations.groups }}</p>
            </aside>
            <aside>
                <h2>Private Dining</h2>
                <p>{{ demo.reservations.private }}</p>
            </aside>
        </div>
    </section>

    <!-- contacts -->
    <section id="contacts" class="content-section contact-section">
        <h2>Contacts</h2>
        <div class="content-block">
            <!-- address -->
            <aside>
                <dl>
                    <dt>Address</dt>
                    <dd>{{ demo.addressStreet }}</dd>
                    <dd>{{ demo.addressLocality }} {{ demo.postalCode }}</dd>
                    <dt>Telephone</dt>
                    <dd><a href="tel:{{ demo.phone }}">{{ demo.phone }}</a></dd>
                </dl>
            </aside>
            <!-- social -->
            <aside>
                <dl>
                    <dt>Links</dt>
                    <dd>
                        <div class="social-links">
                        {{#each demo.social.networks }}
                            <a class="social-link" href="{{ this.url }}" title="{{ this.alt }}">
                                <img src="/assets/imgs/{{ this.name }}.svg" alt="{{ this.name }} logo">
                                <span>{{ this.name }}</span>
                            </a>

                        {{/each}}
                        </div>
                    </dd>
                </dl>
            </aside>
            <!-- transport -->
            <aside>
                <dl>
                    <dt>Public Transport</dt>
                    <dd>{{ demo.transport }}</dd>
                    <dt>Parking</dt>
                    <dd>{{ demo.parking }}</dd>
                </dl>
            </aside>
        </div>
    </section>

    {{> partials/map-demo }}

</main>

<footer>
    <section class="footer-section">
        <div class="col-span-2">

        </div>
        <div>
            <a href="https://apptiser.io" class="ftr-logo-sml logo-apptiser-white" title="Visit the Restaurant Collective website">
                {{> partials/logo-apptiser }}
            </a>
        </div>
    </section>
</footer>


