---
title: "Template Index"
layout: "layouts/index.hbs"
---

<h1>{{ title }}</h1>
<ul>
    <li><a href="/templates/rc-member.html">RC Member SPW {{ pkg.version }}</a></li>
    <li><a href="/templates/rdl-auto.html">RDL Automated {{ pkg.version }}</a></li>
    <li><a href="/templates/rdl-curated.html">RDL Curated {{ pkg.version }}</a></li>
    <li><a href="/templates/apptiser.html">Apptiser {{ pkg.version }}</a></li>
    <li><a href="/templates/apptiser-premium.html">Apptiser Premium {{ pkg.version }}</a></li>
</ul>

