---
title: "Templates"
layout: "layouts/index.hbs"
---

<h1>{{ title }}</h1>
<ul>
    <li><a href="/templates/rc-member.html">RC Member SPW {{ pkg.version }}</a></li>
    <li><a href="/templates/rdl-auto.html">RDL Network Page - Automated {{ pkg.version }}</a></li>
    <li><a href="/templates/rdl-managed.html">RDL Network Page - Managed {{ pkg.version }}</a></li>
    <li><a href="/templates/apptiser.html">Apptiser Website {{ pkg.version }}</a></li>
    <li><a href="/templates/apptiser-premium.html">Apptiser Premium Website {{ pkg.version }}</a></li>
</ul>
