---
title: "Templates"
layout: "layouts/index.hbs"
---

<h1>Page {{ title }}</h1>
<ul>
    <li><a href="/templates/member-{{ pkg.version }}.html">Brand Member SPW {{ pkg.version }}</a></li>
    <li><a href="/templates/apptiser-curated-{{ pkg.version }}.html">Apptiser Curated {{ pkg.version }}</a></li>
    <li><a href="/templates/apptiser-standard-{{ pkg.version }}.html">Apptiser Standard/Network {{ pkg.version }}</a></li>
    <li><a href="/templates/apptiser-premium-{{ pkg.version }}.html">Apptiser Premium {{ pkg.version }}</a></li>
    <li><a href="/templates/fullers-{{ pkg.version }}.html">Fullers Tenant {{ pkg.version }}</a></li>
</ul>
