---
title: "Templates"
layout: "layouts/index.hbs"
---

<h1>Page {{ title }}</h1>
<ul>
    <li><a href="/templates/ri-standard-{{ pkg.version }}.html">Restaurateurs Indépendants {{ pkg.version }}</a></li>
    <li><a href="/templates/apptiser-curated-{{ pkg.version }}.html">Apptiser Curated {{ pkg.version }}</a></li>
    <li><a href="/templates/apptiser-rooms-{{ pkg.version }}.html">Apptiser Rooms {{ pkg.version }}</a></li>
    <li><a href="/templates/apptiser-standard-{{ pkg.version }}.html">Apptiser Standard {{ pkg.version }}</a></li>
    <li><a href="/templates/fullers-tenant-{{ pkg.version }}.html">Bespoke Template (Fullers) {{ pkg.version }}</a>
<!--    <li><a href="/templates/greenking-standard-{{ pkg.version }}.html">Green King Standard {{ pkg.version }}</a></li>-->
</ul>
