---
title: "Templates"
layout: "layouts/index.hbs"
---

<h1>Page {{ title }}</h1>
<ul>
    <li><a href="/templates/ri-standard-{{ pkg.version }}.html">RI Standard {{ pkg.version }}</a></li>
    <li><a href="/templates/apptiser-curated-{{ pkg.version }}.html">Apptiser Curated {{ pkg.version }}</a></li>
    <li><a href="/templates/apptiser-standard-{{ pkg.version }}.html">Apptiser Standard {{ pkg.version }}</a></li>
    <li><a href="/templates/apptiser-premium-serb-{{ pkg.version }}.html">Apptiser Premium SimpleERB {{ pkg.version }}</a></li>
    <li><a href="/templates/apptiser-premium-mozrest-{{ pkg.version }}.html">Apptiser Premium Mozrest {{ pkg.version }}</a></li>
    <li><a href="/templates/fullers-tenant-{{ pkg.version }}.html">Fullers Tenant {{ pkg.version }}</a></li>
</ul>
