---
title: "Templates"
layout: "layouts/index.hbs"
---

<h1>Page {{ title }}</h1>
<ul>
    <li><a href="/templates/ri-member-{{ pkg.version }}.html">RI Member SPW {{ pkg.version }}</a></li>
    <li><a href="/templates/apptiser-curated-{{ pkg.version }}.html">Apptiser Curated {{ pkg.version }}</a></li>
    <li><a href="/templates/apptiser-standard-{{ pkg.version }}.html">Apptiser Standard/Network {{ pkg.version }}</a></li>
    <li><a href="/templates/apptiser-premium-{{ pkg.version }}.html">Apptiser Premium {{ pkg.version }}</a></li>
    <li><a href="/templates/fullers-tenant-{{ pkg.version }}.html">Fullers Tenant {{ pkg.version }}</a></li>
    <li><a href="/templates/fullers-tenant2-{{ pkg.version }}.html">Fullers Tenant 2 {{ pkg.version }}</a></li>
</ul>
