<!-- Optional section tag start - BOOKING WIDGET -->
<section id="reservations" class="content-section booking-section" aria-label="booking widget">
    <h2 class="section-title">Reservations</h2>
    <p>{{ data.reservations.info }}</p>
    <p>
        <a href="https://book.mysimpleerb.com/18326/6-8-bridge-street/" class="serbwidget" target="_blank" data-formtarget="true" data-formtargetmode="ver"
           data-mzid="{{ data.mozrest.id }}"
           data-mzkey="{{ data.mozrest.key }}">BOOK ONLINE</a> at anytime, or call us during opening hours on <a href="tel:{{ data.phone }}">{{ data.phone }}</a>.
    </p>

</section>
<!-- Optional section tag end - BOOKING WIDGET -->
