
<!-- location -->
<section class="map-section" aria-label="map">
    <div class="content-block"
         id="location"
         data-bkg-id="{{ demo.mzId }}"
         data-bkg-key="{{ demo.mzKey }}"
         data-lat="{{ demo.geocode.lat }}"
         data-lng="{{ demo.geocode.lng }}"
         data-label="{{ demo.name }}">
        <div id="map" data-intersection="300"></div>
    </div>
</section>
