
<!-- location -->
<section id="find" class="map-section" aria-label="location map">
    <div class="content-block"
         id="location"
         data-bkg-id="{{ data.mozrest.id }}"
         data-bkg-key="{{ data.mozrest.key }}"
         data-lat="{{ data.geocode.lat }}"
         data-lng="{{ data.geocode.lng }}"
         data-label="{{ data.name }}"
         data-map-show-info="true"
         data-intersection="300">
        <div id="map"></div>
    </div>
    <a class="btn btn-map-directions"
       target="_blank"
       href="https://www.google.co.uk/maps?daddr={{ data.addressStreet }} {{ data.postalCode }}">
        {{ button.directions }}
    </a>
</section>
