
<!-- Optional section tag start - Downloadable Menus -->
<section class="content-section menu-pdf" id="pdfMenus" aria-label="menu downloads">
    <h2 class="section-title">{{ lang.section.menuDownloads.title }}</h2>
    <p>{{ lang.section.menuDownloads.info }}</p>
    <div class="content-block menu-downloads">
        <!-- {{ data.menus.pdfs }} -->
        {{#each data.menus.pdfs }}
            <div class="menu-card-container">
                <a class="menu-card"
                   download="{{ name }}-{{ date }}"
                   href="{{ path }}"
                   aria-label="{{ ../lang.section.menuDownloads.alt }} {{ ../data.name }} {{ name }}">
                    <h3>{{ name }}</h3>
                    <span>Published: {{ date }}</span>
                </a>
            </div>
        {{/each }}
    </div>
</section>
<!-- Optional section tag end - Downloadable Menus -->
