
<!-- Optional section tag start - Downloadable Menus -->
<section class="content-section menu-pdf" id="pdfMenus">
    <h2>downloadable menus</h2>
    <p>Our food changes with the seasons and ingredients that are available...so please note that these menus are subject to change on a daily basis.</p>
    <div class="content-block menu-downloads">
        {{#each demo.menus.pdfs }}
            <div class="menu-card-container">
                <a class="menu-card" download="{{ name }}-{{ date }}" href="{{ path }}">
                    <h3>{{ name }}</h3>
                    <span>Published: {{ date }}</span>
                </a>
            </div>
        {{/each }}
    </div>
</section>
<!-- Optional section tag end - Downloadable Menus -->
