<!-- Optional section tag start - HTML Menus -->
<section id="menus" class="content-section">

    <h2>MENUS</h2>
    <div class="menu-html">
        <p>{{ dataSrc.menus.overview }}</p>

        <!-- sample Menu -->
        <div class="content-sub-section">
            <div class="menu-html">
                <ul class="menu-key">
                    <li><i class="vt"></i>Vegetarian</li>
                    <li><i class="vg"></i>Vegan</li>
                    <li><i class="gf"></i>Gluten-free</li>
                </ul>

                {{#each dataSrc.menus.sections }}
                    <div id="menu_section_1" class="menu-section">
                        <h3 class="menu-section-title">{{ name }}</h3>
                        <ul class="menu-items">
                            {{#each dishes }}
                                <li>
                                    <h4>{{ name }}</h4>
                                    <span>£{{ price }}</span>
                                    <span>{{ description }}</span>
                                    {{#each attributes}}
                                        <i class="{{ this }}"></i>
                                    {{/each}}
                                </li>
                            {{/each }}
                        </ul>
                    </div>
                {{/each}}

            </div>
        </div>
    </div>
</section>
<!-- Optional section tag end - HTML Menus -->
