<!-- Optional section tag start - HTML Menus -->
<section id="menus" class="content-section" aria-label="Menus">

    <h2 class="section-title">{{ lang.section.menus.title }}</h2>
    <div class="menu-html">
        <p>{{ data.menus.overview }}</p>

        <!-- sample Menu -->
        <div class="content-sub-section" aria-label="Sample menu">
            <div class="menu-html">
                <ul class="menu-key">
                    <li><i class="vt" aria-label="{{ lang.section.menus.alt.veggie }} icon"></i>{{ lang.section.menus
                    .label
                    .veggie }}</li>
                    <li><i class="vg" aria-label="{{ lang.section.menus.alt.vegan }} icon"></i>{{ lang.section.menus.label.veggie
                    }}</li>
                    <li><i class="gf" aria-label="{{ lang.section.menus.alt.gluten }} icon"></i>{{ lang.section.menus.label.gluten
                    }}</li>
                </ul>

                {{#each data.menus.sections }}
                    <div id="menu_section_{{@index}}" class="menu-section">
                        <h3 class="menu-section-title">{{ name }}</h3>
                        <ul class="menu-items">
                            {{#each dishes }}
                                <li>
                                    <h4>{{ name }}</h4>
                                    <span>£{{ price }}</span>
                                    <span>{{ description }}</span>
                                    {{#each attributes}}
                                        <i class="{{ this }}"></i>
                                    {{/each}}
                                </li>
                            {{/each }}
                        </ul>
                    </div>
                {{/each}}

            </div>
        </div>
    </div>
</section>
<!-- Optional section tag end - HTML Menus -->
