<li>
    <a href="#about"
       aria-label="{{ nav.label.about }} {{ data.name }}">
        {{ nav.label.about }}
    </a>
</li>
<li class="hide-on-desktop">
    <a href="#hours"
       aria-label="{{ nav.label.hours }} {{ data.name }}">
        {{ nav.label.hours }}
    </a>
</li>
<!-- RDL MENU NAV -->
<li>
    <a href="#menus"
       aria-label="{{ data.name }} {{ nav.label.menus }}">
        {{ nav.label.menus }}
    </a>
</li>
<!-- /RDL MENU NAV -->

<!-- RDL TAKEAWAY NAV -->
<li>
    <a href="#takeaway"
       aria-label="{{ data.name }} {{ nav.label.takeaway }}">
        {{ nav.label.takeaway }}
    </a>
</li>
<!-- /RDL TAKEAWAY NAV -->

<!-- RDL RESERVATIONS NAV -->
<li>
    <a href="#reservations"
       aria-label="{{ data.name }} {{ nav.label.reservations }}">
        {{ nav.label.reservations }}
    </a>
</li>
<!-- /RDL RESERVATIONS NAV -->

<li class="hidden" data-elem-event>
    <a href="#events"
       aria-label="{{ nav.label.events }} {{ data.name }}">
        {{ nav.label.events }}
    </a>
</li>

<li>
    <a href="#contacts"
       aria-label="{{ data.name }} {{ nav.label.contacts }}">
        {{ nav.label.contacts }}
    </a>
</li>

<li>
    <a href="#find"
       aria-label="{{ data.name }} {{ nav.label.location }}">
        {{ nav.label.location }}
    </a>
</li>
