<li><a href="#about" aria-label="{{ lang.nav.label.about }} {{ data.name }}">{{ lang.nav.label.about }}</a></li>
<!-- Optional section tag start - Menus NavBar -->
<li><a href="#menus" aria-label="{{ data.name }} {{ lang.nav.label.menus }}">{{ lang.nav.label.menus }}</a></li>
<!-- Optional section tag end - Menus NavBar -->
<li><a href="#reservations" aria-label="{{ data.name }} {{ lang.nav.label.reservations }}">{{ lang.nav.label.reservations
}}</a></li>
<li><a href="#contacts" aria-label="{{ data.name }} {{ lang.nav.label.contacts }}">{{ lang.nav.label.contacts }}</a></li>
<li><a href="#location" aria-label="{{ data.name }} {{ lang.nav.label.location }}">{{ lang.nav.label.location }}</a></li>
