<li><a href="#about" aria-label="{{ nav.label.about }} {{ data.name }}">{{ nav.label.about }}</a></li>
<!-- Optional section tag start - Menus NavBar -->
<li><a href="#menus" aria-label="{{ data.name }} {{ nav.label.menus }}">{{ nav.label.menus }}</a></li>
<!-- Optional section tag end - Menus NavBar -->
<li><a href="#reservations" aria-label="{{ data.name }} {{ nav.label.reservations }}">{{ nav.label.reservations
}}</a></li>
<li><a href="#contacts" aria-label="{{ data.name }} {{ nav.label.contacts }}">{{ nav.label.contacts }}</a></li>
<li><a href="#location" aria-label="{{ data.name }} {{ nav.label.location }}">{{ nav.label.location }}</a></li>
