<li><a href="#about" title="{{ lang.nav.label.about }} {{ data.name }}">{{ lang.nav.label.about }}</a></li>
<!-- Optional section tag start - Menus NavBar -->
<li><a href="#menus" title="{{ data.name }} {{ lang.nav.label.menus }}">{{ lang.nav.label.menus }}</a></li>
<!-- Optional section tag end - Menus NavBar -->
<li><a href="#reservations" title="{{ data.name }} {{ lang.nav.label.reservations }}">{{ lang.nav.label.reservations }}</a></li>
<li><a href="#contacts" title="{{ data.name }} {{ lang.nav.label.contacts }}">{{ lang.nav.label.contacts }}</a></li>
<li><a href="#location" title="{{ data.name }} {{ lang.nav.label.location }}">{{ lang.nav.label.location }}</a></li>
