<div id="roomImageContainer" class="img-widget" data-room-images="{{ data.rooms.images.gallery }}">

    <div class="img-grid">
        <img loading="lazy"
             alt="{{ section.hero.alt.bgdImage }}{{ data.name }}"
             src="{{ config.image.url }}{{ config.image.transform.rooms }}{{ config.image.folder
             }}{{ data.number }}/{{ data.rooms.images.default }}"
             sizes="100vw">
    </div>

</div>
