<!-- RDL RESERVATIONS -->
<section id="reservations"
         class="content-section booking-section"
         aria-label="{{ section.reservations.aria }}"
         data-id="{{ data.id }}"
         data-name="{{ data.name }}"
         data-email="{{ data.email }}"
         data-provider="{{ data.reservations.provider.name }}"
         data-provider-id="{{ data.reservations.provider.id }}"
         data-provider-key="{{ data.reservations.provider.key }}"
         data-provider-url="{{ data.reservations.provider.url }}"
         data-max-covers="{{ data.reservations.maxCovers }}"
         data-advance-days="{{ data.reservations.advanceDays }}"
         data-person="{{ bookings.person }}"
         data-people="{{ bookings.people }}"
         data-summary-title="{{ bookings.email.summary.title }}"
         data-instructions="{{ bookings.email.summary.instructions }}"
         data-label-request="{{ button.bkgRequest }}"
         data-label-name="{{ bookings.email.summary.name }}"
         data-label-email="{{ bookings.email.summary.email }}"
         data-label-cancel="{{ bookings.email.summary.cancel }}"
         data-label-send="{{ bookings.email.summary.send }}"
         data-warning="{{ bookings.email.summary.warning }}"
         data-thanks="{{ bookings.email.summary.thanks }}"
         data-sender="{{ data.brand.prefix }}">

    <h2 class="section-title">{{ section.reservations.title }}</h2>

    <p>{{ data.reservations.info }}</p>

    <!-- RDL BOOKING WIDGET -->
    <div id="bookingWidgetContainer" data-book-online></div>
    <!-- /RDL BOOKING WIDGET -->

    {{> partials/booking-extra }}

</section>
<!-- /RDL RESERVATIONS -->
